.circle-logo {
    .circle {
        position: absolute;
        width: 150px;
        height: 150px;
        background-color: white;
        gap: 0px;
        opacity: 0px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;


        &.circle-1 {
            top: 0%;
            left: 19%;


        }

        &.circle-2 {
            top: 33%;
            left: 10%;

        }

        &.circle-3 {
            top: 40%;
            left: 25%;

        }


        &.circle-4 {
            top: 3%;
            right: 20%;

        }

        &.circle-5 {
            top: 8%;
            right: 4%;
        }

        &.circle-6 {
            top: 44%;
            right: 12%;
        }




    }


}

@keyframes animateee {
    0% {
        top: 100%;
    }

    100% {
        top: 0%;

    }
}