@font-face {
  font-family: Rubik-Italic;
  // src: url('../assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf')
  //   format('truetype');
  src: url(http://localhost:8080/documents/d/fz-test/rubik-italic-variablefont_wght)
    format('truetype');
}
@font-face {
  font-family: Rubik;
  // src: url('../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf')
  //   format('truetype');
  src: url('http://localhost:8080/documents/d/fz-test/rubik-variablefont_wght')
    format('truetype');
}
