@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url(./lib/bootstrap/css/bootstrap.min.css);
@import url(./lib/fontawesome/css/all.min.css);
@import url(./lib/jquery-ui/css/jquery-ui.css);
.w-90 {
  width: 90%;
}

.transition {
  transition: all 2s;
}

@font-face {
  font-family: Rubik-Italic;
  src: url(http://localhost:8080/documents/d/fz-test/rubik-italic-variablefont_wght) format("truetype");
}
@font-face {
  font-family: Rubik;
  src: url("http://localhost:8080/documents/d/fz-test/rubik-variablefont_wght") format("truetype");
}
.card-bgblack {
  transition: all 1s;
}
.card-bgblack.w-90 {
  width: 91%;
  margin: auto;
}
.card-bgblack .card {
  border: none;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.1803921569);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 1s;
}
.card-bgblack .card .card-body {
  border-radius: 16px;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in;
  height: 35%; /* Initial height */
}
.card-bgblack .card:hover .card-body {
  height: 100%;
}
.card-bgblack .card img {
  border-radius: 16px;
}
.card-bgblack .card .card-body {
  border-radius: 16px;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  height: 35%;
}
.card-bgblack .card .card-body p {
  width: 90%;
  font-family: Rubik;
  font-size: 33.22px;
  font-weight: 400;
  line-height: 46.9px;
  text-align: center;
  transition: all 1s;
}
.card-bgblack .card .cloud-1 {
  left: -13%;
  top: 20%;
}
.card-bgblack .card .cloud-2 {
  left: 60%;
  top: 15%;
}
.card-bgblack .card.child2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #676ab3 0%, #ac89b3 100%);
}
.card-bgblack .card.w40 {
  height: 48%;
}
.card-bgblack .card h2 {
  color: white;
  font-family: Rubik;
  font-size: 34px;
  font-weight: 700;
  line-height: 78px;
}
.card-bgblack .card span {
  color: white;
  font-family: Dubai;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
}
.card-bgblack .card p {
  font-family: Rubik;
  font-size: 44px;
  font-weight: 400;
  line-height: 30px;
  color: white;
}
.card-bgblack .circle-img {
  top: -42%;
  right: -5%;
  z-index: -1;
}
.card-bgblack .earth-img {
  text-align: center;
  width: 110%;
  left: -5%;
}
.card-bgblack .img-layer {
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  bottom: 0;
  position: absolute;
  height: 40%;
  opacity: 70%;
}
.search-input::-moz-placeholder {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: black;
}
.search-input::placeholder {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: black;
}
.search-input:focus {
  box-shadow: none;
}

.dropdown {
  display: flex;
  align-items: center;
}
.dropdown .dropdown-toggle {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 13px 0;
  color: black;
}
.dropdown .dropdown-toggle::after {
  content: "\f078";
  font-family: "Font Awesome 6 Pro";
  border: 0;
}
.dropdown .btn:hover,
.dropdown .btn:active {
  background-color: white;
  color: black;
}

.main-title {
  font-family: Rubik;
  font-size: 5rem;
  font-weight: 700;
  line-height: 140px;
  letter-spacing: -0.02em;
  text-align: center;
  box-shadow: 0px 4px 30px 0px rgba(150, 165, 191, 0.031372549);
}
.main-title.line-height-110 {
  line-height: 110px;
}
.main-title.mt-100 {
  margin: 5% 0 0 0;
}

.second-title {
  font-family: Rubik;
  font-size: 90px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: -0.02em;
  text-align: center;
  box-shadow: 0px 4px 30px 0px rgba(150, 165, 191, 0.031372549);
}

.third-title {
  font-family: Rubik;
  font-size: 120px;
  font-weight: 400;
  line-height: 130px;
  text-align: center;
  box-shadow: 0px 4px 30px 0px rgba(150, 165, 191, 0.031372549);
}

.main-button {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.59px;
  text-align: center;
  width: 173px;
  height: 48px;
}
.main-button.top-80 {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*************************buttons*************************/
.btn {
  border-radius: 25px;
  min-width: 120px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.59px;
}
.btn:not(.dropdown-toggle) {
  padding: 15px 10px;
}
.btn.btn-primary {
  background: white;
  color: black;
  border-radius: 25px;
  min-width: 120px;
  border-color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.59px;
}
.btn.btn-primary:not(.dropdown-toggle) {
  padding: 15px 10px;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:checked, .btn.btn-primary:focus-visible {
  background: black !important;
  border-color: black;
  color: white;
}
.btn.btn-secondary {
  background-color: black !important;
  color: white;
  border-radius: 25px;
  min-width: 120px;
  border-color: black;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.59px;
}
.btn.btn-secondary:not(.dropdown-toggle) {
  padding: 15px 10px;
}
.btn.btn-secondary:hover, .btn.btn-secondary:active, .btn.btn-secondary:checked, .btn.btn-secondary:focus-visible {
  background: white !important;
  border-color: white;
  color: black;
}

.rounded-circle {
  border-radius: 50%;
  background-color: white;
}

.scroll-btn {
  cursor: pointer;
  width: 19.16px;
  height: 34px;
}

.circle-logo .circle {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: white;
  gap: 0px;
  opacity: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.circle-logo .circle.circle-1 {
  top: 0%;
  left: 19%;
}
.circle-logo .circle.circle-2 {
  top: 33%;
  left: 10%;
}
.circle-logo .circle.circle-3 {
  top: 40%;
  left: 25%;
}
.circle-logo .circle.circle-4 {
  top: 3%;
  right: 20%;
}
.circle-logo .circle.circle-5 {
  top: 8%;
  right: 4%;
}
.circle-logo .circle.circle-6 {
  top: 44%;
  right: 12%;
}

@keyframes animateee {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
.circle-dots .circle {
  background-color: white;
  position: absolute;
  animation: animate 10s linear infinite;
  bottom: -180px;
}
.circle-dots .circle.circle-dot-1 {
  width: 20.5px;
  height: 20.5px;
  left: 15%;
  border-radius: 50%;
  animation-delay: 0.4s;
}
.circle-dots .circle.circle-dot-2 {
  width: 20.5px;
  height: 20.5px;
  left: 7%;
  gap: 0px;
  opacity: 0px;
  border-radius: 50%;
  animation-delay: 2s;
}
.circle-dots .circle.circle-dot-3 {
  width: 12.5px;
  height: 12.5px;
  left: 8%;
  border-radius: 50%;
  animation-delay: 3s;
}
.circle-dots .circle.circle-dot-4 {
  width: 12.5px;
  height: 12.5px;
  left: 5%;
  border-radius: 50%;
  animation-delay: 3.5s;
}
.circle-dots .circle.circle-dot-5 {
  width: 20.5px;
  height: 20.5px;
  right: 9%;
  border-radius: 50%;
  animation-delay: 5s;
}
.circle-dots .circle.circle-dot-6 {
  width: 12.5px;
  height: 12.5px;
  right: 0%;
  border-radius: 50%;
  animation-delay: 2.5s;
}
.circle-dots .circle.circle-dot-7 {
  width: 20.5px;
  height: 20.5px;
  right: -3%;
  border-radius: 50%;
  animation-delay: 3.6s;
}
.circle-dots .circle.circle-dot-8 {
  width: 20.5px;
  height: 20.5px;
  right: 4%;
  border-radius: 50%;
  animation-delay: 4s;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}
.bg-econimic {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 148px;
  bottom: 2%;
  left: 60px;
  transition: all 2s;
}
.bg-econimic.w90 {
  right: 40px;
}
.bg-econimic.w30 {
  right: 70%;
}

#news-slider {
  margin-top: 20px;
}
#news-slider .post-slide {
  margin: 20px 15px 20px;
  border-radius: 15px;
  padding-top: 1px;
  box-shadow: 0px 14px 22px -9px #bbcbd8;
  height: 55vh;
}
#news-slider .post-slide .post-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-left: -10px;
  height: 100%;
}
#news-slider .post-slide .post-img img {
  width: 100%;
  height: 100%;
  transform: scale(1, 1);
  transition: transform 0.2s linear;
}
#news-slider .post-slide:hover .post-img img {
  transform: scale(1.1, 1.1);
}
#news-slider .post-slide .over-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(178.53deg, #f3f5f6 0.9%, #e2ebf2 90.68%);
  transition: all 0.5s linear;
}
#news-slider .post-slide:hover .over-layer {
  opacity: 1;
  text-decoration: none;
}
#news-slider .post-slide .over-layer i {
  position: relative;
  top: 45%;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 25px;
}
#news-slider .post-slide .post-content {
  border-radius: 15px;
  position: absolute;
  bottom: 10%;
  left: 10%;
}
#news-slider .post-slide .post-title a {
  font-size: 15px;
  font-weight: bold;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
#news-slider .post-slide .post-title a:hover {
  text-decoration: none;
  color: #3498db;
}
#news-slider .post-slide .post-description {
  line-height: 24px;
  color: #808080;
  margin-bottom: 25px;
}
#news-slider .post-slide .post-date {
  color: #a9a9a9;
  font-size: 14px;
}
#news-slider .post-slide .post-date i {
  font-size: 20px;
  margin-right: 8px;
  color: #cfdace;
}
#news-slider .post-slide .read-more {
  padding: 7px 20px;
  float: right;
  font-size: 12px;
  background: linear-gradient(178.53deg, rgba(243, 245, 246, 0.4039215686) 0.9%, rgba(226, 235, 242, 0.4509803922) 90.68%);
  color: #ffffff;
  box-shadow: 0px 10px 20px -10px #1376c5;
  border-radius: 25px;
  text-transform: uppercase;
}
#news-slider .post-slide .read-more:hover {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #fff;
}
#news-slider .owl-wrapper-outer {
  overflow: hidden;
}
#news-slider .owl-controls .owl-buttons {
  text-align: center;
  margin-top: 20px;
}
#news-slider .owl-controls .owl-buttons .owl-prev {
  background: #fff;
  position: absolute;
  padding: 0 18px 0 15px;
  border-radius: 50px;
  box-shadow: 3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}
#news-slider .owl-nav {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  width: auto;
  position: absolute;
  right: 0;
}
#news-slider .owl-nav .owl-next,
#news-slider .owl-nav .owl-prev {
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#news-slider .owl-nav .owl-next span,
#news-slider .owl-nav .owl-prev span {
  display: none;
}
#news-slider .owl-nav .owl-next {
  background: #fff;
  padding: 0 15px 0 18px;
  border-radius: 50px;
  box-shadow: -3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}
#news-slider .owl-nav .owl-prev:after,
#news-slider .owl-nav .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #333;
  font-size: 25px;
}
#news-slider .owl-nav .owl-next:after {
  content: "\f105";
}

#companies-slider {
  margin-top: 20px;
}
#companies-slider .post-slide {
  background: linear-gradient(178.53deg, rgba(243, 245, 246, 0.5215686275) 0.9%, rgba(226, 235, 242, 0.4745098039) 90.68%);
  margin: 20px 15px 20px;
  border-radius: 15px;
  padding-top: 1px;
  box-shadow: 0px 14px 22px -9px #bbcbd8;
  width: 247px;
  height: 154px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#companies-slider .post-slide .post-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
#companies-slider .post-slide .post-img img {
  width: 100%;
  height: 100%;
  transform: scale(1, 1);
  transition: transform 0.2s linear;
}
#companies-slider .post-slide:hover .post-img img {
  transform: scale(1.1, 1.1);
}
#companies-slider .post-slide .over-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(178.53deg, rgba(243, 245, 246, 0.5215686275) 0.9%, rgba(226, 235, 242, 0.4352941176) 90.68%);
  transition: all 0.5s linear;
}
#companies-slider .post-slide:hover .over-layer {
  opacity: 1;
  text-decoration: none;
}
#companies-slider .post-slide .over-layer i {
  position: relative;
  top: 45%;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 25px;
}
#companies-slider .post-slide .post-content {
  border-radius: 15px;
  position: absolute;
  bottom: 10%;
  left: 10%;
}
#companies-slider .post-slide .post-title a {
  font-size: 15px;
  font-weight: bold;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
#companies-slider .post-slide .post-title a:hover {
  text-decoration: none;
  color: #3498db;
}
#companies-slider .post-slide .post-description {
  line-height: 24px;
  color: #808080;
  margin-bottom: 25px;
}
#companies-slider .post-slide .post-date {
  color: #a9a9a9;
  font-size: 14px;
}
#companies-slider .post-slide .post-date i {
  font-size: 20px;
  margin-right: 8px;
  color: #cfdace;
}
#companies-slider .post-slide .read-more {
  padding: 7px 20px;
  float: right;
  font-size: 12px;
  background: linear-gradient(178.53deg, #f3f5f6 0.9%, #e2ebf2 90.68%);
  color: #ffffff;
  box-shadow: 0px 10px 20px -10px #1376c5;
  border-radius: 25px;
  text-transform: uppercase;
}
#companies-slider .post-slide .read-more:hover {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #fff;
}
#companies-slider .owl-wrapper-outer {
  overflow: hidden;
}
#companies-slider .owl-controls .owl-buttons {
  text-align: center;
  margin-top: 20px;
}
#companies-slider .owl-controls .owl-buttons .owl-prev {
  background: #fff;
  position: absolute;
  padding: 0 18px 0 15px;
  border-radius: 50px;
  box-shadow: 3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}
#companies-slider .owl-nav {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  width: auto;
  position: absolute;
  right: 0;
}
#companies-slider .owl-nav .owl-next,
#companies-slider .owl-nav .owl-prev {
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#companies-slider .owl-nav .owl-next span,
#companies-slider .owl-nav .owl-prev span {
  display: none;
}
#companies-slider .owl-nav .owl-next {
  background: #fff;
  padding: 0 15px 0 18px;
  border-radius: 50px;
  box-shadow: -3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}
#companies-slider .owl-nav .owl-prev:after,
#companies-slider .owl-nav .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #333;
  font-size: 25px;
}
#companies-slider .owl-nav .owl-next:after {
  content: "\f105";
}

@media only screen and (max-width: 1280px) {
  .post-slide .post-content {
    padding: 0px 15px 25px 15px;
  }
}
.news-slider-container,
.testmonial-slider-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  z-index: 0;
  height: 75vh;
  position: relative;
  margin-bottom: 1%;
}
.news-slider-container .testmonial-slider,
.news-slider-container .news-slider,
.testmonial-slider-container .testmonial-slider,
.testmonial-slider-container .news-slider {
  position: relative;
  height: 90%;
  overflow: hidden;
  z-index: 1;
  width: 100vw;
}
.news-slider-container .testmonial-slider .item,
.testmonial-slider-container .testmonial-slider .item {
  position: absolute;
  width: 773.28px;
  height: 55vh;
  overflow: hidden;
  text-align: justify;
  border-radius: 10px;
  transition: 0.5s;
  left: 50%;
  top: 0;
  line-height: unset !important;
  letter-spacing: unset !important;
  font-family: "Rubik" !important;
  background-position: center;
  background-size: cover;
  background-position: center;
}
.news-slider-container .testmonial-slider .item::after,
.testmonial-slider-container .testmonial-slider .item::after {
  background: rgba(0, 0, 0, 0.6);
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}
.news-slider-container .testmonial-slider .item:not(.active) .testmonial-slider-details,
.testmonial-slider-container .testmonial-slider .item:not(.active) .testmonial-slider-details {
  display: none;
}
.news-slider-container .testmonial-slider .item .testmonial-slider-details,
.testmonial-slider-container .testmonial-slider .item .testmonial-slider-details {
  color: #ffffff;
  height: 20%;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  margin: 3rem;
  gap: 3rem;
  align-items: center;
}
.news-slider-container .testmonial-slider .item .testmonial-slider-details img,
.testmonial-slider-container .testmonial-slider .item .testmonial-slider-details img {
  border-radius: 50%;
}
.news-slider-container .testmonial-slider .item .testmonial-slider-details .name-header,
.testmonial-slider-container .testmonial-slider .item .testmonial-slider-details .name-header {
  font-size: 32px;
}
.news-slider-container .testmonial-slider .item .testmonial-slider-details .sub-title,
.testmonial-slider-container .testmonial-slider .item .testmonial-slider-details .sub-title {
  font-size: 20px;
}
.news-slider-container .testmonial-slider .item:nth-child(1),
.testmonial-slider-container .testmonial-slider .item:nth-child(1) {
  background: url(../../../assets/Images/Home/testmonial-imgs/1.png) top/cover no-repeat;
}
.news-slider-container .testmonial-slider .item:nth-child(2),
.testmonial-slider-container .testmonial-slider .item:nth-child(2) {
  background: url(../../../assets/Images/Home/testmonial-imgs/2.png) top/cover no-repeat;
}
.news-slider-container .testmonial-slider .item:nth-child(3),
.testmonial-slider-container .testmonial-slider .item:nth-child(3) {
  background: url(../../../assets/Images/Home/testmonial-imgs/3.png) top/cover no-repeat;
}
.news-slider-container .testmonial-slider .item:nth-child(4),
.testmonial-slider-container .testmonial-slider .item:nth-child(4) {
  background: url(../../../assets/Images/Home/testmonial-imgs/4.png) center/cover no-repeat;
}
.news-slider-container .testmonial-slider .item:nth-child(5),
.testmonial-slider-container .testmonial-slider .item:nth-child(5) {
  background: url(../../../assets/Images/Home/slider-imgs/5.png) center/cover no-repeat;
}
.news-slider-container .testmonial-slider .item.active,
.testmonial-slider-container .testmonial-slider .item.active {
  background-size: cover;
}
.news-slider-container .testmonial-slider .item:not(.active),
.testmonial-slider-container .testmonial-slider .item:not(.active) {
  background-size: contain;
}
.news-slider-container .news-slider .item,
.testmonial-slider-container .news-slider .item {
  position: absolute;
  width: 388.86px;
  height: 55vh;
  overflow: hidden;
  text-align: justify;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: 50%;
  top: 0;
  line-height: unset !important;
  letter-spacing: unset !important;
  font-family: "Rubik" !important;
  background-position: center;
  background-size: cover;
}
.news-slider-container .news-slider .item::after,
.testmonial-slider-container .news-slider .item::after {
  content: "";
  background: linear-gradient(180deg, rgba(9, 9, 10, 0) 0%, #39312d 100%);
  width: 100%;
  height: 100%;
}
.news-slider-container .news-slider .item .news-slider-title,
.testmonial-slider-container .news-slider .item .news-slider-title {
  color: #ffffff;
  position: absolute;
  bottom: 10%;
}
.news-slider-container #next,
.news-slider-container #prev,
.news-slider-container #testmonial-slider-info,
.testmonial-slider-container #next,
.testmonial-slider-container #prev,
.testmonial-slider-container #testmonial-slider-info {
  position: absolute;
  bottom: 5%;
  background-color: transparent;
  border: none;
  font-family: monospace;
  font-weight: bold;
  right: 25%;
}
.news-slider-container .slider-explore,
.testmonial-slider-container .slider-explore {
  position: absolute;
  bottom: -10%;
  right: 50%;
  transform: translateX(50%);
}
.news-slider-container #perv,
.news-slider-container #next,
.testmonial-slider-container #perv,
.testmonial-slider-container #next {
  background-color: white;
}
.news-slider-container #prev:after,
.testmonial-slider-container #prev:after {
  content: "\f053";
  font-family: "Font Awesome 6 Pro";
}
.news-slider-container #next,
.testmonial-slider-container #next {
  left: unset;
  right: 15%;
}
.news-slider-container #next:after,
.testmonial-slider-container #next:after {
  content: "\f054";
  font-family: "Font Awesome 6 Pro";
}

.testmonial-slider-container #testmonial-slider-info,
.testmonial-slider-container #slider-info,
.slider-container #testmonial-slider-info,
.slider-container #slider-info {
  font-size: xx-large;
  right: unset;
  left: 25%;
  right: unset;
}
.testmonial-slider-container #next,
.testmonial-slider-container #prev,
.testmonial-slider-container #testmonial-slider-info,
.testmonial-slider-container #slider-info,
.slider-container #next,
.slider-container #prev,
.slider-container #testmonial-slider-info,
.slider-container #slider-info {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border: none;
  font-family: monospace;
  font-weight: bold;
  right: unset;
}
.testmonial-slider-container #prev,
.testmonial-slider-container #next,
.slider-container #prev,
.slider-container #next {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  right: 30%;
}
.testmonial-slider-container #prev:after,
.slider-container #prev:after {
  content: "\f053";
  font-family: "Font Awesome 6 Pro";
}
.testmonial-slider-container #next,
.slider-container #next {
  left: unset;
  right: 25%;
}
.testmonial-slider-container #next:after,
.slider-container #next:after {
  content: "\f054";
  font-family: "Font Awesome 6 Pro";
}

.news-slider-container,
.companies-slider-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  z-index: 0;
  height: 75vh;
  position: relative;
  margin-bottom: 1%;
}
.news-slider-container .companies-slider,
.news-slider-container .news-slider,
.companies-slider-container .companies-slider,
.companies-slider-container .news-slider {
  position: relative;
  height: 90%;
  overflow: hidden;
  z-index: 1;
  width: 100vw;
}
.news-slider-container .companies-slider .item,
.companies-slider-container .companies-slider .item {
  position: absolute;
  width: 773.28px;
  height: 55vh;
  overflow: hidden;
  text-align: justify;
  border-radius: 10px;
  transition: 0.5s;
  left: 50%;
  top: 0;
  line-height: unset !important;
  letter-spacing: unset !important;
  font-family: "Rubik" !important;
  background-position: center;
  background-size: cover;
  background-position: center;
}
.news-slider-container .companies-slider .item::after,
.companies-slider-container .companies-slider .item::after {
  background: rgba(0, 0, 0, 0.6);
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}
.news-slider-container .companies-slider .item:not(.active) .companies-slider-details,
.companies-slider-container .companies-slider .item:not(.active) .companies-slider-details {
  display: none;
}
.news-slider-container .companies-slider .item .companies-slider-details,
.companies-slider-container .companies-slider .item .companies-slider-details {
  color: #ffffff;
  height: 20%;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  margin: 3rem;
  gap: 3rem;
  align-items: center;
}
.news-slider-container .companies-slider .item .companies-slider-details img,
.companies-slider-container .companies-slider .item .companies-slider-details img {
  border-radius: 50%;
}
.news-slider-container .companies-slider .item .companies-slider-details .name-header,
.companies-slider-container .companies-slider .item .companies-slider-details .name-header {
  font-size: 32px;
}
.news-slider-container .companies-slider .item .companies-slider-details .sub-title,
.companies-slider-container .companies-slider .item .companies-slider-details .sub-title {
  font-size: 20px;
}
.news-slider-container .companies-slider .item:nth-child(1),
.companies-slider-container .companies-slider .item:nth-child(1) {
  background: url(../../../assets/Images/Home/testmonial-imgs/1.png) top/cover no-repeat;
}
.news-slider-container .companies-slider .item:nth-child(2),
.companies-slider-container .companies-slider .item:nth-child(2) {
  background: url(../../../assets/Images/Home/testmonial-imgs/2.png) top/cover no-repeat;
}
.news-slider-container .companies-slider .item:nth-child(3),
.companies-slider-container .companies-slider .item:nth-child(3) {
  background: url(../../../assets/Images/Home/testmonial-imgs/3.png) top/cover no-repeat;
}
.news-slider-container .companies-slider .item:nth-child(4),
.companies-slider-container .companies-slider .item:nth-child(4) {
  background: url(../../../assets/Images/Home/testmonial-imgs/4.png) center/cover no-repeat;
}
.news-slider-container .companies-slider .item:nth-child(5),
.companies-slider-container .companies-slider .item:nth-child(5) {
  background: url(../../../assets/Images/Home/slider-imgs/5.png) center/cover no-repeat;
}
.news-slider-container .companies-slider .item.active,
.companies-slider-container .companies-slider .item.active {
  background-size: cover;
}
.news-slider-container .companies-slider .item:not(.active),
.companies-slider-container .companies-slider .item:not(.active) {
  background-size: contain;
}
.news-slider-container .news-slider .item,
.companies-slider-container .news-slider .item {
  position: absolute;
  width: 388.86px;
  height: 55vh;
  overflow: hidden;
  text-align: justify;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: 50%;
  top: 0;
  line-height: unset !important;
  letter-spacing: unset !important;
  font-family: "Rubik" !important;
  background-position: center;
  background-size: cover;
}
.news-slider-container .news-slider .item::after,
.companies-slider-container .news-slider .item::after {
  content: "";
  background: linear-gradient(180deg, rgba(9, 9, 10, 0) 0%, #39312d 100%);
  width: 100%;
  height: 100%;
}
.news-slider-container .news-slider .item .news-slider-title,
.companies-slider-container .news-slider .item .news-slider-title {
  color: #ffffff;
  position: absolute;
  bottom: 10%;
}
.news-slider-container #next,
.news-slider-container #prev,
.news-slider-container #companies-slider-info,
.companies-slider-container #next,
.companies-slider-container #prev,
.companies-slider-container #companies-slider-info {
  position: absolute;
  bottom: 5%;
  background-color: transparent;
  border: none;
  font-family: monospace;
  font-weight: bold;
  right: 25%;
}
.news-slider-container #perv,
.news-slider-container #next,
.companies-slider-container #perv,
.companies-slider-container #next {
  background-color: white;
}
.news-slider-container #prev:after,
.companies-slider-container #prev:after {
  content: "\f053";
  font-family: "Font Awesome 6 Pro";
}
.news-slider-container #next,
.companies-slider-container #next {
  left: unset;
  right: 15%;
}
.news-slider-container #next:after,
.companies-slider-container #next:after {
  content: "\f054";
  font-family: "Font Awesome 6 Pro";
}

.companies-slider-container #companies-slider-info,
.companies-slider-container #slider-info,
.slider-container #companies-slider-info,
.slider-container #slider-info {
  font-size: xx-large;
  right: unset;
  left: 25%;
  right: unset;
}
.companies-slider-container #next,
.companies-slider-container #prev,
.companies-slider-container #companies-slider-info,
.companies-slider-container #slider-info,
.slider-container #next,
.slider-container #prev,
.slider-container #companies-slider-info,
.slider-container #slider-info {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border: none;
  font-family: monospace;
  font-weight: bold;
  right: unset;
}
.companies-slider-container #prev,
.companies-slider-container #next,
.slider-container #prev,
.slider-container #next {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  right: 30%;
}
.companies-slider-container #prev:after,
.slider-container #prev:after {
  content: "\f053";
  font-family: "Font Awesome 6 Pro";
}
.companies-slider-container #next,
.slider-container #next {
  left: unset;
  right: 25%;
}
.companies-slider-container #next:after,
.slider-container #next:after {
  content: "\f054";
  font-family: "Font Awesome 6 Pro";
}

.slider-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  z-index: 0;
  height: 65vh;
}
.slider-container .slider {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  z-index: 1;
}
.slider-container .item {
  position: absolute;
  width: 290px;
  height: 50vh;
  overflow: hidden;
  text-align: justify;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 110px);
  top: 0;
  line-height: unset !important;
  letter-spacing: unset !important;
  font-family: "Rubik" !important;
  background-position: center;
  background-size: cover;
}
.slider-container .item::after {
  content: "";
  background: linear-gradient(180deg, rgba(9, 9, 10, 0) 0%, #39312d 100%);
  width: 100%;
  height: 100%;
}
.slider-container .item .slider-logo {
  position: absolute;
  bottom: 25%;
}
.slider-container .item:not(.active) .slider-logo {
  display: none;
}
.slider-container .item .slider-title {
  color: #ffffff;
  position: absolute;
  bottom: 10%;
  font-size: 24px;
}
.slider-container .item:nth-child(1) {
  background-image: url(../../../assets/Images/Home/slider-imgs/1.png);
}
.slider-container .item:nth-child(2) {
  background-image: url(../../../assets/Images/Home/slider-imgs/2.png);
}
.slider-container .item:nth-child(3) {
  background-image: url(../../../assets/Images/Home/slider-imgs/3.png);
}
.slider-container .item:nth-child(4) {
  background-image: url(../../../assets/Images/Home/slider-imgs/4.png);
}
.slider-container .item:nth-child(5) {
  background-image: url(../../../assets/Images/Home/slider-imgs/5.png);
}
.slider-container .slider-explore {
  position: absolute;
  bottom: 5%;
  right: 50%;
}

body {
  overflow-x: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
}

.container-palarex {
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  color: white;
}

.content-slider {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
}

.content-slide {
  width: 100vw;
  height: 100vh;
  transition: opacity 0.8s ease;
}
.content-slide.active {
  opacity: 1;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
}
.content-slide.queue, .content-slide.prev {
  opacity: 0;
  position: unset;
}

.paralax {
  position: absolute;
  height: 100%;
}

.paralax-item {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity 0.8s ease;
}

.p-item1 {
  background: url("../../../assets/Images/Home/Home.svg") center/cover no-repeat;
}

.p-item3 {
  height: auto;
  background: url(../../../assets/images/home/bk/1707478793.png) center/cover;
  width: 100vw;
  height: 100vh;
}

.p-item5 {
  height: auto !important;
  z-index: 100;
}

.paralax-item.hidden {
  opacity: 0;
}

.p-item4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  /* animation: marquee 20s linear infinite; */
}
.p-item4::after {
  position: fixed;
  content: "";
  background-image: url(../../../assets/Images/Home/bk/1307.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1882px;
  height: 1059px;
  top: -25px;
  left: -221px;
  top: -192px;
  gap: 0px;
  mix-blend-mode: soft-light;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}
.container-palarex .content-9::after {
  content: "";
  font-size: xx-large;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../../assets/Images/img/footer-background.png") center/cover;
  opacity: 0.3;
  z-index: -1;
}

.container-palarex .content-4::after {
  content: "";
  font-size: xx-large;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../../assets/Images/Home/bk/fz-slider-overlay.png") center/cover;
  opacity: 0.3;
  z-index: -1;
}

.container-palarex .content-slider,
.container-palarex .content {
  min-height: 100vh;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-palarex .content-slider.height-auto,
.container-palarex .content.height-auto {
  min-height: unset;
}

.content-header {
  text-align: center;
}

.p-item4 {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.p-item3,
.p-item2 {
  background-position: center;
  z-index: 2;
  transition: opacity 0.8s ease;
  text-align: center;
  color: white;
}
.p-item3 .tower-img,
.p-item2 .tower-img {
  position: absolute;
  content: "";
  background-image: url("../../../assets/Images/Home/bk/tower.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  left: 0;
  height: 50vh;
  width: 100%;
  mix-blend-mode: color-burn;
  top: 18%;
  background-size: contain;
}
.p-item3 .tower-img div,
.p-item2 .tower-img div {
  content: "";
  height: 100%;
  background-image: url("../../../assets/Images/Home/bk/towerreflect.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  opacity: 0.1;
  position: absolute;
  top: 95%;
}
.p-item3 .tower-reflect,
.p-item2 .tower-reflect {
  position: absolute;
  bottom: 0;
  content: "";
  background-image: url("../../../assets/Images/Home/bk/towerreflect.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  transform: scale(-1, -1) translateY(-100%);
  opacity: 0.3;
}

.sec-header {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: center;
}

.header {
  margin-top: 9%;
}
.header .main-header {
  font-size: 180px;
  font-weight: 700;
  line-height: 140px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.start-sec {
  margin-top: 3%;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .video-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 15vw;
  letter-spacing: -17px;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
  background: url(../../../assets/Images/Home/Home.svg);
  line-height: 100vh;
  mix-blend-mode: screen;
}
.banner .video-bk {
  width: 100%;
  height: 100%;
  background-image: url(http://localhost:8080/documents/d/fz-test/home);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.right-sec {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 50%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.right-sec .fz-image {
  mix-blend-mode: color-burn;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 9px 24px 0px rgba(88, 86, 126, 0.5019607843);
  border-radius: 6px;
}
.right-sec .fz-image::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(9, 9, 10, 0) 0%, #39312d 100%);
}
.right-sec .fz-image:nth-child(4) {
  width: 113.08px;
  height: 138.74px;
  background-image: url(../assets/Images/Home/FZ-imgs/r-1.png);
  z-index: 0;
}
.right-sec .fz-image:nth-child(3) {
  width: 93.86px;
  height: 115.17px;
  background-image: url(../assets/Images/Home/FZ-imgs/r-2.png);
  margin-right: -15%;
}
.right-sec .fz-image:nth-child(2) {
  width: 57.19px;
  height: 70.17px;
  background-image: url(../assets/Images/Home/FZ-imgs/r-3.png);
  margin-right: 5%;
}
.right-sec .fz-image:nth-child(1) {
  width: 44.44px;
  height: 54.53px;
  background-image: url(../assets/Images/Home/FZ-imgs/r-4.png);
  margin-right: 20%;
}
.left-sec {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 50%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.left-sec .fz-image {
  mix-blend-mode: color-burn;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 9px 24px 0px rgba(88, 86, 126, 0.5019607843);
  border-radius: 6px;
}
.left-sec .fz-image::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(9, 9, 10, 0) 0%, #39312d 100%);
}
.left-sec .fz-image:nth-child(4) {
  width: 113.08px;
  height: 138.74px;
  background-image: url(../assets/Images/Home/FZ-imgs/l-1.png);
  z-index: 0;
}
.left-sec .fz-image:nth-child(3) {
  width: 93.86px;
  height: 115.17px;
  background-image: url(../assets/Images/Home/FZ-imgs/l-2.png);
  margin-left: -15%;
}
.left-sec .fz-image:nth-child(2) {
  width: 57.19px;
  height: 70.17px;
  background-image: url(../assets/Images/Home/FZ-imgs/l-3.png);
  margin-left: 5%;
}
.left-sec .fz-image:nth-child(1) {
  width: 44.44px;
  height: 54.53px;
  background-image: url(../assets/Images/Home/FZ-imgs/l-4.png);
  z-index: 0;
  margin-left: 20%;
}

.icon-bottom-rotate {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  bottom: 55px;
  right: 48px;
  z-index: 44;
}
.icon-bottom-rotate img {
  width: 80% !important;
  animation: rotate-icon 5s infinite linear;
}

@keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  background: rgba(0, 0, 0, 0.1215686275);
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-top: 4.5% !important;
  margin-bottom: 25px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.footer .footer-top {
  padding-top: 3%;
  padding-bottom: 4%;
}
.footer .footer-top h3 {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 15px;
}
.footer .footer-top i {
  margin: 0 5px;
}
.footer .footer-top ul {
  padding: 0;
  list-style: none;
}
.footer .footer-top ul li {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.footer .footer-top ul li a {
  text-decoration: none;
  color: white;
}
.footer .footer-top .icon-up {
  cursor: pointer;
  width: 60.93px;
  height: 60.93px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  right: 1%;
  bottom: 30%;
}
.footer .line {
  width: 95%;
  margin: auto;
  border: 1px solid #c7c7c7;
}
.footer .footer-bootom {
  width: 95%;
  margin: auto;
}
.footer .footer-bootom p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  letter-spacing: 1px;
}

header {
  margin: 24px 30px 0 30px;
  background: rgba(255, 255, 255, 0.1215686275);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
  z-index: 12;
  overflow: hidden;
}
header .custom-navbar {
  align-items: center !important;
  margin: 0 30px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .custom-navbar.hidden {
  display: none;
}
header .custom-navbar > ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header .custom-navbar > ul.nav-items li {
  padding: 0 1rem;
  text-transform: capitalize;
}
header .custom-navbar > ul.nav-items li a {
  padding: 0;
  text-decoration: none;
  color: black;
  transition: all 1s;
}
header .custom-navbar > ul.nav-items li a:hover, header .custom-navbar > ul.nav-items li a.active {
  font-weight: bold;
}
header .custom-navbar .top-menu > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
header .custom-navbar .top-menu > ul li.nav-accessibility {
  padding: 0;
}
header .custom-navbar .top-menu > ul li.nav-accessibility .nav-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}
header .custom-navbar .top-menu > ul li.nav-culture .btn {
  padding: 8px 16px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  transition: all 1s;
}
header .custom-navbar .top-menu > ul li.nav-start .btn {
  width: 173px;
  height: 44px;
  background: #2a303b;
}
header .custom-navbar .top-menu > ul li .btn {
  line-height: 20px;
  padding: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.parallax-contain {
  min-height: 100vh;
  height: auto;
}

.parallax {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("./Images/Home/Home.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 100;
}

.parallax img#gate-left {
  transform: translateX(-282px);
}

.parallax img#gate-right {
  transform: translateX(305px);
}

#text {
  position: absolute;
  /* font-size: 5em;
  color: rgb(3, 1, 40); 
  text-shadow: 2px 4px 5px #f9f9f9;*/
  color: white;
}

.scroll-btn {
  cursor: pointer;
  width: 19.16px;
  height: 34px;
}

.start-sec {
  margin-top: 3%;
}

.sec {
  position: relative;
  background-color: #020912;
  padding: 30px 100px;
  width: 100%;
  height: 100vh;
  display: inline-block;
  text-align: center;
  z-index: 100;
}

.sec h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10px;
}

.sec p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  text-align: justify;
}

.sec-header {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: center;
}

.header {
  margin-top: 9%;
}

.header .main-header {
  font-size: 180px;
  font-weight: 700;
  line-height: 140px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.right-sec {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 50%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.right-sec .fz-image {
  mix-blend-mode: color-burn;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 9px 24px 0px rgba(88, 86, 126, 0.5019607843);
  border-radius: 6px;
}

.right-sec .fz-image::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(9, 9, 10, 0) 0%, #39312d 100%);
}

.right-sec .fz-image:nth-child(4) {
  width: 113.08px;
  height: 138.74px;
  background-image: url(../assets/Images/Home/FZ-imgs/r-1.png);
  z-index: 0;
}

.right-sec .fz-image:nth-child(3) {
  width: 93.86px;
  height: 115.17px;
  background-image: url(../assets/Images/Home/FZ-imgs/r-2.png);
  margin-right: -15%;
}

.right-sec .fz-image:nth-child(2) {
  width: 57.19px;
  height: 70.17px;
  background-image: url(../assets/Images/Home/FZ-imgs/r-3.png);
  margin-right: 5%;
}

.right-sec .fz-image:nth-child(1) {
  width: 44.44px;
  height: 54.53px;
  background-image: url(../assets/Images/Home/FZ-imgs/r-4.png);
  margin-right: 20%;
}

.left-sec {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 50%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.left-sec .fz-image {
  mix-blend-mode: color-burn;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 9px 24px 0px rgba(88, 86, 126, 0.5019607843);
  border-radius: 6px;
}

.left-sec .fz-image::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(9, 9, 10, 0) 0%, #39312d 100%);
}

.left-sec .fz-image:nth-child(4) {
  width: 113.08px;
  height: 138.74px;
  background-image: url(../assets/Images/Home/FZ-imgs/l-1.png);
  z-index: 0;
}

.left-sec .fz-image:nth-child(3) {
  width: 93.86px;
  height: 115.17px;
  background-image: url(../assets/Images/Home/FZ-imgs/l-2.png);
  margin-left: -15%;
}

.left-sec .fz-image:nth-child(2) {
  width: 57.19px;
  height: 70.17px;
  background-image: url(../assets/Images/Home/FZ-imgs/l-3.png);
  margin-left: 5%;
}

.left-sec .fz-image:nth-child(1) {
  width: 44.44px;
  height: 54.53px;
  background-image: url(../assets/Images/Home/FZ-imgs/l-4.png);
  z-index: 0;
  margin-left: 20%;
}/*# sourceMappingURL=style3.css.map */