.bg-econimic {

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 148px;
  bottom: 2%;
  left: 60px;
  transition: all 2s;

  &.w90 {
    right: 40px
  }

  &.w30 {
    right: 70%
  }

}